{% extends 'base.html.twig' %}
{% block body %}
<h1>{{title}}</h1>
{% if age >= 18  %}
<p>tu es majeur</p>
{% else %}
<p>tu es mineur</p>
{% endif %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quia cupiditate ex fugit blanditiis impedit commodi assumenda excepturi eligendi quasi delectus, dignissimos aperiam voluptatibus animi corporis similique nesciunt. Nobis rem, sequi nesciunt soluta sit at assumenda voluptates in placeat ut.</p>
<p>Architecto rem at commodi voluptatum ullam expedita enim. Consectetur vero fugiat dolor? Impedit, earum enim porro nulla ipsum vitae vel laborum, optio architecto dignissimos tempore exercitationem unde, dolores sed cum. Ad corrupti, dolorum at rem harum quia cum recusandae voluptatem!</p>
{% endblock %}
